<div class="container">
    <h2>Liste des films associés à cette catégorie</h2>
</div>
<div class="container film_list">
    {# Tous les films liés à cette catégorie #}
    <div class="search_results">
        {% if movieList is iterable %}
            {% for movie in movieList %}
                <a href="{{ app.basepath }}movie/{{ movie.id }}/cat/{{ category.id }}" title="Voir la fiche Cinemood de ce film" class="col-12 col-xs-4 col-md-3 col-xl-2 text-center">
                    <figure class='movieElt'>
                        {% if movie.posterPath is null %}
                            <img style="width : 185px; height : 278px;" src='{{ app.basepath }}Public/img/no_poster.png' alt="Poster not found">
                        {% else %}
                            <img src='http://image.tmdb.org/t/p/w185{{ movie.posterPath }}' alt="{{ movie.title }} poster">
                        {% endif %}
                        <figcaption>{{ movie.title }}</figcaption>
                    </figure>
                </a>
            {% endfor %}
        {% else %}
            {# users is probably a string #}
            {{ movieList }}
        {% endif %}
    </div>
</div>