{% import 'form.twig' as form %}

<div class="container search_results">
    {# résultat de la recherche #}
    <div class="container">
        <!-- Search results description -->
        {% if searchQuery  %}
            <h2>Résultat de la recherche pour "<span>{{searchQuery}}</span>", <span id="nb_results">{{ moviesSearchResults.total_results }}</span> résultats. Page {{moviesSearchResults.page ? moviesSearchResults.page : "1"}}  sur <span id="nb_pages">{{ moviesSearchResults.total_pages }}</span> pages : totalPage SessionStorage : {{ app.session.totalPagesForSearch }}</h2>

            <!-- *************** film elements ***************** -->
            <div class="search_results">
                {% for movie in moviesSearchResults.results %}
                    <div class="movieElt">
                        <a href="{{ app.basepath }}movie/{{ movie.id }}" title="Voir la fiche du film" class="col-md-4 text-center">
                            <figure class='{% if movie.mclink == true %} mclinktrue {% endif %}'>
                                {% if movie.poster_path  %}
                                    <img src='http://image.tmdb.org/t/p/w185{{ movie.poster_path }}' alt="{{ movie.title }} poster">
                                {% else %}
                                    <img style="width : 185px; height : 278px;" src='{{ app.basepath }}Public/img/no_poster.png' alt="Poster not found">
                                {% endif %}
                                <figcaption>{{ movie.title }}</figcaption>
                            </figure>
                        </a>

                            <div class="iconsTab">
                {#TODO Mettre un if pour gérer l'affichage du plus ou du moins en fonction de la situation#}
                                {% if movie.mculink == true %}
                                    <a href="{{ app.basepath }}dashboard/{{ app.session.user.id }}" class="deleteMCULink"><i class="fas fa-unlink"></i></a>
                                {% else %}
                                    <a href="{{ app.basepath }}addMoviesToCategory/{{ category.id }}/{{ movie.id }}" title="Ajouter ce film à la catégorie {{ category.nom }}"  class="addMCULink"><i class="fas fa-plus"></i></a>
                                {% endif %}
                                {% if movie.mc_link_occurence == true %}
                                    <a href="{{ app.basepath }}movie/{{ movie.id }}/cat/{{ category.id }}" class="seeMCLink" title="Nombre d'utilisateurs ayant classé ce film dans cette catégorie.">
                                        <i class="fas fa-link"></i>
                                        <span>{{ movie.mc_link_occurence }}</span>
                                    </a>
                                {% endif %}
                                {% if movie.nbcomments == true %}
                                    <a href="{{ app.basepath }}movie/{{ movie.id }}/cat/{{ category.id }}" class="commentsMCLink" title="Nombre de commentaires sur le classement de ce film dans cette catégorie.">
                                        <i class="fas fa-comment-alt"></i>
                                        <span>{{ movie.nbcomments }}</span>
                                    </a>
                                {% endif %}
                            </div>
                    </div>
                {% else %}
                    <figure class='movieElt'>
                        <img style="width : 185px; height : 278px;" src='{{ app.basepath }}Public/img/no_poster.png' alt="Poster not found">
                        <figcaption>Not Found</figcaption>
                    </figure>
                {% endfor %}
            </div>

            {# **************** Pagination **************** #}
            <nav aria-label="Page navigation example">
                <ul class="pagination d-flex justify-content-center">
                    {% if previousPage > 0  %}
                        <li class="page-item">
                            <a class="page-link" href="{{ app.basepath }}categorySearchNewMovies/{{ category.id }}/{{searchQuery}}/{{ previousPage }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="page-item"><a class="page-link" href="#">{{moviesSearchResults.page ? moviesSearchResults.page : "1"}}</a></li>
                    {% if nextPage < 10  %}
                        <li class="page-item">
                            <a class="page-link" href="{{ app.basepath }}categorySearchNewMovies/{{ category.id }}/{{searchQuery}}/{{ nextPage }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div> <!-- /container -->

</div>