{# AFficher la liste des catégorie associée à ce film si il y en a #}

<div class="container">
    <h2>Liste des catégories associées à ce film</h2>
</div>
<div class="container category_list">
    <div class="container search_results">
        {% if associatedCategories is iterable %}
            {% for category in associatedCategories %}
                <div class="categoryHolder">
                    <a href="{{ app.basepath }}category/{{ category.id }}" title="Voir la fiche de la catégorie">
                        <p class="categoryElt" style="background-color: {{ category.backgroundColor }}; color : {{ category.fontColor }}"> {{ category.nom }}</p>
                    </a>
                    {% if category.nbComments > 0 %}
                        <a href="{{ app.basepath }}movie/{{ movie.id }}/cat/{{ category.id }}" class="seeComments" title="Voir les commentaires concernant le classement de ce film dans cette catégorie.">
                            <i class="fas fa-comment-alt"></i>
                            <span>{{ category.nbComments }}</span>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>